@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    /* box-sizing: border-box; */
}

body {
    font-family: 'Lato', sans-serif;
}

nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.2)
}

nav p {
    margin-left: 30px;
    text-decoration: none;
    color: #000000;
    font-weight: 800;
    text-transform: uppercase;
    font-size: 1.8rem;
}

nav ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    list-style: none;
    padding: 0;
    width: 100%;
    flex-wrap: nowrap;
}

nav ul li {
    text-align: center;
    width: 100%;
}

nav ul li a {
    display: inline-block;
    padding: 10px 0;
    width: 100%;
    text-decoration: none;
    color: #000000;
    transition: 2ms ease-in;
    position: relative;
}

nav ul li a:before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0px;
    height: 3px;
    background-color: rgb(251, 255, 0);
    transition: all 1.5s ease;
}

nav ul li a:hover:before {
    width: 100%;
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    color:#FFFFFF;
    text-align: center;
    padding: 54px;
}

header, img {

    background: linear-gradient(rgba(17, 17, 17, 0.8), rgba(20, 20, 20, 1)), url(/assets/img/fundo.jpeg);
    /* background-image: url("../img/fundo.jpeg"); */
    background-size: cover;
    background-repeat: no-repeat;
    /* background-position: center; */
    background-position-y: 0px;
    top: 0;
    left: 0;
}

header h1 {
    color: #FFFFFF;
}

header h2 {
    color: #FFFFFF;
}

/* .texto-1 {
    font-size: 5rem;
    margin-bottom: 2rem;
    text-align: center;
} */


.texto-1 {
    font-size: 2rem;
    margin-bottom: 10rem;
    text-align: center;
}

.texto-2 {
    width: 100%;
    margin-bottom: 5rem;
    padding-top: 2.9rem;
    font-size: 2rem;
    color: rgb(165, 165, 165);
    text-transform: uppercase;
}

.btn {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.btn, button {
    width: 250px;
    height: 60px;
    cursor: pointer;
    border: 1px solid #FFFFFF;
    color: #FFFFFF;
    text-transform: uppercase;
    background-color: transparent;
    font-weight: bold;
    letter-spacing: 0.2rem;
    border-radius: 20px;
    position: relative;
    transition: 1.5s;
}

.btn, button:hover {
    color: rgb(251, 255, 0);
    border: none;
}

.close-menu {
    display: none;
}

/* .btn, button::before {
    content: '';
    border-radius: 20px;
    bottom: 0;
    left: 0;
    position: absolute;
    width: 0;
    height: 60px;
    background-color: rgb(61, 61, 61);
    z-index: -1;
    transition: 1s;
}

.btn, button:hover:before {
    width: 100%;
} */

@media (max-width: 610px) {
    .menu {
        bottom: 0;
        /* height: 100vh; */
    }

    nav ul {
        flex-direction: column;
        justify-content: center;
    }

    .menu {
        display: none;
    }

    .close-menu-label::after {
        content: '☰';
        position: fixed;
        z-index: 2;
        top: 2rem;
        right: 2rem;
        color: #FFFFFF;
        font-size: 2rem;
        line-height: 3rem;
        width: 3rem;
        height: 3rem;
        text-align: center;
        padding: 0.5rem;
        cursor: pointer;
    }

    .close-menu:checked~.menu {
        display: block;
    }

    .close-menu:checked~.close-menu-label::after {
        display: block;
        content: '×';
    }

    .menu-spacing {
        display: none;
    }

    
}