@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

:root {
    --primary-color: rgb(13, 106, 197);
    --primary-color-darker: rgb(9, 48, 56);
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    color:#FFFFFF;
    text-align: center;
} 

.menu-label {
    padding: 10px;
    display: flex;
    justify-content: center;
}

.navbar {
    display: flex;
    justify-content: center;
}

header, img {
    background: linear-gradient(rgba(17, 17, 17, 0.8), rgba(20, 20, 20, 1)), url(/assets/img/fundo.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position-y: 0px;
    top: 0;
    left: 0;
}

.msgInicial {
    margin-bottom: 7.4rem;
    padding-top: 2.9rem;
    font-size: 2rem;
    color: rgb(165, 165, 165);
    text-transform: uppercase;
}

.btn {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.btn, button {
    width: 250px;
    height: 60px;
    cursor: pointer;
    border: 1px solid #FFFFFF;
    color: #FFFFFF;
    text-transform: uppercase;
    background-color: transparent;
    font-weight: bold;
    letter-spacing: 0.2rem;
    border-radius: 20px;
    position: relative;
    transition: 1.5s;
}

.btn, button:hover {
    color: rgb(251, 255, 0);
    border: none;
}

.contato {
    padding-top: 30px;
    background-color: #000000;
    display: flex;
    flex-grow: column wrap;
    justify-content:space-evenly;
}
.contato img {
    width: 100%;
    height: 500px;
}

section {
    margin-top: 100px;
}

.container {
    max-width: 640px;
    margin: 50px auto;
    background: #ffffff;
    padding: 20px;
    border-radius: 10px;
}

form input, form label, form button {
    display: block;
    width: 30%;
    margin-bottom: 10px;
}

form input {
    font-size: 24px;
    height: 50px;
    padding: 0 20px;
}

form input:focus {
    outline: 1px solid var(--primary-color);
}

form button {
    border: none;
    background: var(--primary-color);
    color: #ffffff;
    font-size: 18px;
    font-weight: 700;
    height: 50px;
    cursor: pointer;
    margin-top: 30px;
}

form button:hover {
    background: var(--primary-color-darker);
}

.paragrafo-resultado, .bad {
    background: rgb(109,255,182);
    padding: 10px 20px;
}

.bad {
    background: rgb(255, 150, 150);
}

.teste {
    float: right;
}

@media screen and (max-width: 465px) {
    form button {
        font-size: 12px;
        font-weight: 700;
        height: 50px;
    }
}
@media screen and (max-width: 386px) {
    .navbar {
        display: block;
    }
    
    form input {
        font-size: 18px;
        padding: 5 15px;
    }

    form button {
        font-size: 9px;
    }
}

@media screen and (max-width: 352px) {
    form button {
        font-size: 7px;
    }
}